#hope{
  margin-left:15em;
  padding:15px;
}
h1{
  margin-left:8em;
  color:blue;
}
img{
  height:15em;
  width:15em;
  margin-left:30%;
  padding:15px;
}
h2{
  color:red;
}
body{
  background-image:url("http://www.photos-public-domain.com/wp-content/uploads/2013/11/bumpy-beige-plastic-texture.jpg");
}
div {
  line-height:normal;
}
div {
  line-height:70%;
}
div{
  line-height:80%;
}
div{
  line-height:200%;
}
div{
  line-height:200%;
}
